---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
    <a href="/about/">About</a>
      <a href = "/blog/">PhotoDump</a>
		<h1>About Me</h1>
        <h2>and what this site even is!</h2>

        <p>using html and astro, i built this website and coded all the text</p>
        <p>it will continue to update with photos i take</p>
	</body>
</html>
